{% extends 'participants/dashboard.html' %}
{% load static %}


{% block dashboard_content %}
            <!-- main content-->
            <div class="main-content p-3 mt-4">
                <!-- poll title  -->
                <div class="w-25 mx-auto bg-primary rounded-top rounded-right rounded-bottom rounded-left p-2 text-center text-light">
                    <h4 class="h4 text-uppercase font-weight-bold">{{ current_poll.title }}</h4>
                    <small class="font-weight-bold">{{ current_poll.address}}</small>
                </div>
                <div class="db-banner-wrapper container mt-5">
                    <div class="row justify-content-evenly align-items-center">
                        <!-- No of participants -->
                        <div class="col-sm-12 col-md-3">
                            <div class="card shadow-card">
                                <div class="card-content">
                                    <div class="d-flex align-items-center">
                                        <div class="card-image p-4 bg-primary rounded-top rounded-bottom rounded-right rounded-left">
                                            <i class="fab fa-connectdevelop fa-3x text-light"></i>
                                        </div>
                                        <div class="card-text px-2 text-muted">
                                            <h6">Participants</h6>
                                                <h3 class="font-weight-bold display-5">{{ participants.count }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No of contestants -->
                        <div class="col-sm-12 col-md-3">
                            <div class="card shadow-card">
                                <div class="card-content">
                                    <div class="d-flex align-items-center">
                                        <div class="card-image p-4 bg-secondary rounded-top rounded-bottom rounded-right rounded-left">
                                            <i class="fa fa-users fa-3x text-light"></i>
                                        </div>
                                        <div class="card-text px-2 text-muted">
                                            <h6">Judges</h6>
                                                <h3 class="font-weight-bold display-5">{{  judges.count }}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No of contestants -->
                        <div class="col-sm-12 col-md-3">
                            <div class="card shadow-card">
                                <div class="card-content">
                                    <div class="d-flex align-items-center">
                                        <div class="card-image p-4 bg-warning rounded-top rounded-bottom rounded-right rounded-left">
                                            <i class="fa fa-align-left fa-3x text-light"></i>
                                        </div>
                                        <div class="card-text px-2 text-muted">
                                            <h6">Polls joined</h6>
                                                <h3 class="font-weight-bold display-5">{{polls.count}}</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Participant List -->
                <div class="participant-list-wrapper mt-5 pb-5 container">
                    <div class="row justify-content-even">
                        <div class="col-sm-12 col-md-4">
                            <h5 class="text-muted">Contestants</h5>
                            <ul class="list-group participant-list ">
                                {% for users in participants %}
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        {% if user.username == users.participant.user.username %}

                                        <div class="p-image">
                                            <img src="{{ user.participant.image.url }}" alt="participant profile image ">
                                        </div>
                                        <div class="p-text">
                                            <span>You</span>
                                        </div>
                                        {% else %}
                                        <div class="d-flex align-items-center">
                                            <div class="p-image">
                                                <img src="{{ users.participant.image.url }}" alt="participant profile image ">
                                            </div>
                                            <div class="p-text">
                                                <span>{{ users.participant.user.username}}</span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <!-- Judges List -->
                        <div class="col-sm-12 col-md-4">
                            <h5 class="text-muted">Judges</h5>
                            <ul class="list-group participant-list">
                                {% for judge in judges %}
                                <li class="list-group-item">
                                    <div class="d-flex align-items-center">
                                        <div class="p-image">
                                            <img src="{{ judge.judge.profile_picture.url }}" alt="judge profile picture">
                                        </div>
                                        <div class="p-text">
                                            <span>{{ judge.judge.user.first_name }} {{ judge.judge.user.first_name }} </span>
                                        </div>
                                    </div>
                                </li>
                                {% empty %}
                                <li class="list-group-item">
                                    <span class="text-muted text-center">No judges for this poll</span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <!-- upload link -->
                        <div class="col-sm-12 col-md-4">
                            <div class="upload-link">
                                <form method="POST" id="projectLinkForm">
                                    {% csrf_token %}
                                    <div class="ads-input-wrapper d-flex my-5">
                                        <input type="text" name="projectLink" id="projectLink" placeholder="Project link" {% if current_poll.is_uploaded %}disabled{% endif %}>
                                        <input type="hidden" name="pollAddress" value="{{poll_address}}">
                                        <button type="submit" id="join-btn" class="bg-primary">
                                            <i class="fa fa-upload"></i>
                                        </button>
                                    </div>
                                    {% if participant_poll.is_uploaded %}
                                    <p class="text-center text-light btn btn-primary apple-font">
                                        {{ participant_poll.project_link }}
                                    </p>
                                    {% else %}
                                    <p class="text-muted apple-font">
                                        You have not uploaded any link
                                    </p>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- scoreboard -->
                {% include 'core/includes/scoreboard.html' %}
            </div>
{% endblock %}