{% extends 'participants/dashboard.html' %}
{% load static %}


{% block dashboard_content %}
<div class="main-content p-3 mt-4">
    <div class="profile-wrapper">
        <div class="profile-content">
            <div class="p-image mx-auto p-image-lg animate__animated animate__zoomIn animate__faster">
                {% if user.is_participant %}
                <img src="{{ user.participant.image.url }}" alt="participant_image">
                {% elif user.is_judge %}
                <img src="{{ user.judgeprofile.profile_picture.url }}" alt="judges_profile">
                {% endif %}
            </div>
        </div>
        <div class="profile-text mt-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <small class="text-muted">Username</small>
                    <h6 class="text-muted">@{{ user.username|lower }}</h6>
                </li>
                <li class="list-group-item">
                    <small class="text-muted">Fullname </small>
                    <h6 class="text-muted">{{ user.first_name }} {{ user.last_name}}</h6>
                </li>
                <li class="list-group-item">
                    <small class="text-muted">Email </small>
                    <h6 class="text-muted">{{ user.email }}</h6>
                </li>
                <li class="list-group-item">
                    <small class="text-muted">Phone</small>
                    <h6 class="text-muted">{{ user.phone }}</h6>
                </li>
                <li class="list-group-item">
                    <small class="text-muted">Sex</small>
                    <h6 class="text-muted">{{ user.gender|lower }}</h6>
                </li>
                <li class="list-group-item">
                    <small class="text-muted">Date of birth</small>
                    <h6 class="text-muted">{{ user.dob }}</h6>
                </li>
                {% if user.is_participant %}
                <li class="list-group-item d-flex justify-content-between">
                    <h5 class="text-center text-muted">Stack</h5>
                    <h5 class="text-center text-muted">{{ user.participant.stack  }}</h5>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="profile-update d-flex justify-content-center">
            {% if user.is_participant %}
            <a href="{% url 'participant_profile_update' %}" class="nav-link p-0">Update</a>
            {% elif user.is_judge %}
            <a href="{% url 'judges_profile_update' %}" class="nav-link p-0">Update</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}