{% extends 'core/base.html' %}
{% load static %}

{% block content %}
    <header>
        <div class="banner">
            <div class="banner-content">
                <div class="banner-text">
                    <h1 class="text-uppercase text-bold text-center animate__animated animate__slideInUp">
                        <span class="bg-light text-dark rounded-circle" style="width: 50px; height: 25px; padding: 1px 15px;">E</span> 
                        -Voting</h1>
                    <h4 class="text-center animate__animated animate__slideInUp animate__fast mt-4">Hackaton</h4>

                    <div class="banner-controls">
                        <a href="{% url 'registration' %}" class="btn btn-outline-light">Get Started</a>
                        <a href="{% url 'login' %}" class="btn btn btn-outline-light">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
