*{
    scroll-behavior: smooth;
    --white: #fff;
    --dark: #333;
    --grey: #aaa;
    --light-grey: #ddd;
    --lighter-grey: #f0f0f0;
}

body{
    margin: 0;
    padding: 0;
}

/* header */
.banner{
    background-image: url('/static/images/mac-2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}
.banner::after{
    content: "";
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.banner .banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.banner .banner-text{
    position: relative;
    z-index: 2;
    color: var(--white);
}
.banner .banner-text h1{
    font-size: 5em;
    font-weight: bolder;
}
.banner .banner-controls{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}
.banner .banner-controls a{
    width: 150px;
    margin: 5px 10px;
    padding: 10px;
}

/* Auth Forms */
.auth-form-container{
    /* width: 40rem;
    padding: auto; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form-container form{
    /* border-radius: 10px; */
    /* border: 1px solid #333; */
    width: 50rem;
    padding: 15px;
    height: 70vh;
    background: #eee;
}
.auth-form-container input[class="auth-btn"]{
    background: #333;
    color: var(--white);
    width: 100%;
    padding: 10px;
    font-weight: bolder;
    border: none;
    transition: .3s;
    border-radius: 5px;
    border: 1px solid var(--dark);
}
.auth-form-container input[class="auth-btn"]:hover{
    background: transparent;
    color: var(--dark);
}
.auth-form-container .form-controls{
    width: 40px;
}
.auth-form-container .form-controls a{
    color: var(--dark);
    transition: .4s;
}.auth-form-container .form-controls a:hover{
    color: var(--grey);
}


/* Dashboard */
header{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-content{
    background: var(--white);
    box-shadow: 1px 1px 10px var(--light-grey);
    padding: 14px 10px;
    top: 0;
    width: 100%;
    position: relative;
}
.header-content button.menu-btn{
    border: none;
    background: none;
}
/* profile preview */
.profile_btn{
    box-shadow: 1px 2px 1px var(--light-grey);
    padding: 5px;
    border-radius: 25px;
}
.profile_btn button{
    border: none;
    background: none;
    padding: 0;
}
.profile-preview{
    position: absolute;
    width: 300px;
    background: var(--white);
    right: 20px;
    top: 70px;
    z-index: 99999;
    box-shadow: 1px 2px 1px var(--light-grey), -1px -2px 1px var(--light-grey);
    border-radius: 10px;
    display: none;
}
.profile-preview .profile-image{
    width: 70px;
    height: 70px;
    margin: auto;
}
.profile-preview .profile-image img{
    width: 100%;
    height: auto;
}
.profile-preview .update-profile a{
    border: 1px solid var(--grey);
    padding: 7px;
    border-radius: 100px;
    margin: auto;
    width: 100px;
    text-decoration: none;
    color: var(--dark);
    transition: background .5s;
}
.profile-preview .update-profile a:hover{
    background: var(--grey);
    color: var(--white);
}


/* main content */
.main-wrapper{
    padding-top: 5rem;
    background: var(--lighter-grey);
}
.ads-input-wrapper{
    box-shadow: 1px 1px 3px var(--light-grey);
    border-radius: 20px;
    overflow: hidden;
}
.ads-input-wrapper input,
.ads-input-wrapper button{
    border: none;
}
.ads-input-wrapper input{
    padding: 0px 7px;
    width: 75%;
    font-size: 13px;
}
.ads-input-wrapper button{
    color: var(--white);
    flex-grow: 1;
    padding: 5px;
}
.main-content{
    flex-grow: 1;
}

.participant-list{
    height: 50vh;
    overflow-y: auto;
}
.p-image{
    width: 34px;
    height: 34px;
    border-radius: 50px;
}
.p-image img{
    width: 100%;
    height: auto;
}
.p-text{
    margin-left: 10px;
}

.profile-wrapper{
    background: var(--white);
    border-radius: 10px;
    width: 50vw;
    margin: auto;
    padding: 10px;
}
.p-image-lg{
    width: 10rem;
    height: 10rem;
    position: relative;
}